$block-caption
    &, a
        text-decoration: none
    text-transform: uppercase
    color: color-default + #111
    line-height: 1em
    text-shadow: 0 1px #fff

$base-style
    h1
        font-size: 2em
    h2
        font-size: 1.5em
    h3
        font-size: 1.3em
    h4
        font-size: 1.2em
    h5
        font-size: 1em
    h6
        font-size: 1em
        color: color-grey
    hr
        border: 1px dashed color-border
    strong
        font-weight: bold
    em, cite
        font-style: italic
    sup, sub
        font-size: 0.75em
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.2em
    small
        font-size: 0.85em
    acronym, abbr
        border-bottom: 1px dotted
    ul, ol, dl
        line-height: line-height
    ul, ol
        ul, ol
            margin-top: 0
            margin-bottom: 0
            margin-left: 20px
    ul
        list-style: disc
        list-style-position: inside
    ol
        list-style: decimal
        list-style-position: inside
    dt
        font-weight: bold
        list-style-position: inside

.header-anchor
    font-size: 1rem
    &::after
        content ' '
